<section class="h-100" >
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <!-- <div>
              <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                    class="fas fa-angle-down mt-1"></i></a></p>
            </div> -->
          </div>
  
          <div class="card rounded-3 mb-4 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body p-4" *ngFor="let item of localStorageItem; let i = index">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2" >
                  <img
                    src="{{item.image}}"
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{item.title}}</p>
                  <p><span class="text-muted">Authors: </span>{{item.authors}} <span class="text-muted">Language: </span>{{item.language}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <button class="btn btn-link px-2" (click)="decrement(i)">
                    <i class="fas fa-minus"></i>
                  </button>
  
                  <input id="form1" min="1"  name="quantity"  type="number" [(ngModel)]="item.quantity" (change)='changepositive()' [value]="item.quantity"
                    class="form-control form-control-sm" />
  
                  <button class="btn btn-link px-2" (click)="increment(i)">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{item.price | nriCurrency }}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a class="text-danger" (click)="deleteItem(i)"><i class="fas fa-trash fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>